body {
  color: #0F5077;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  font-family: 'Merriweather', serif;
  background-color: #FFFEB0;
}

h1 {
  color: #0F5077;
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Montserrat', serif;
}

h2 {
  color: #0F5077;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #0F5077;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

p {
  line-height: 2;
}

hr {
  border: dotted #FFE699 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #FFE699;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
  text-decoration: none;
}

a:hover {
  color: #0F5077;
}

.resume-link{
  color:  #BA0452;
}

.top-container {
  background-color:#FFFEB0
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
  background-color: #FFFEB0
}

.bottom-container {
  background-color: #BA0452;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}


.vector1 {
  position: absolute;
  width: 400px;
  right: 30px;
  top: 50px;
}

.vector2 {
  position: absolute;
  width: 500px;
  left: 30px;
  bottom: 50px;
}

.fan{
  width: 200px;
}

.dessert-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cat-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #BA0452;
  background-image: -webkit-linear-gradient(top, #BA0452, #FFFEB0);
  background-image: -moz-linear-gradient(top, #BA0452, #FFFEB0);
  background-image: -ms-linear-gradient(top, #BA0452, #FFFEB0);
  background-image: -o-linear-gradient(top, #BA0452, #FFFEB0);
  background-image: linear-gradient(to bottom, #BA0452, #FFFEB0);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #FFFEB0;
  background-image: -webkit-linear-gradient(top, #FFFEB0, #0F5077);
  background-image: -moz-linear-gradient(top, #FFFEB0, #0F5077);
  background-image: -ms-linear-gradient(top,#FFFEB0, #0F5077);
  background-image: -o-linear-gradient(top, #FFFEB0, #0F5077);
  background-image: linear-gradient(to bottom, #FFFEB0, #0F5077);
  text-decoration: none;
}
